<div id="social-media">
    {{ with .Site.Params.twitter }}
        <a href="{{ . }}"><i class="fa fa-twitter-square fa-2x"></i></a>
    {{ end }}
    {{ with .Site.Params.googleplus }}
        <a href="{{ . }}"><i class="fa fa-google-plus-square fa-2x"></i></a>
    {{ end }}
    {{ with .Site.Params.linkedin }}
        <a href="{{ . }}"><i class="fa fa-linkedin-square fa-2x"></i></a>
    {{ end }}
    {{ with .Site.Params.youtube }}
        <a href="{{ . }}"><i class="fa fa-youtube-square fa-2x"></i></a>
    {{ end }}
</div>
