<!DOCTYPE html>
<html lang="en">
    {{ partial "head.html" . }}
    <body>
        {{ partial "navigation/navigation.html" . }}
        <div class="container">
            <div class="row" id="content-main">
                <div class="col-md-8">
                    {{ .Render "list.item" }}
                </div>
                <div class="col-md-4">
                    {{ partial "widgets/sidebar/search.html" . }}
                    {{ partial "widgets/sidebar/recent.html" . }}
                    {{ partial "widgets/sidebar/categories.html" . }}
                    {{ partial "widgets/sidebar/donate.html" . }}
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-xs-6">
                        <ul class="list-inline">
                            <li><a href="">Privacy Policy</a></li>
                            <li><a href="">Newsletter</a></li>
                            <li><a href="">Sponsors</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-xs-6">
                        {{ partial "widgets/footer/social.html" . }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            Phlat theme designed and built by <a href="http://www.nraboy.com">Nic Raboy</a> in San Francisco, California.
                        </p>
                    </div>
                </div>
            </div>
        </footer>
        <script src="/js/jquery-2.2.1.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
    </body>
</html>
